<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Boolzapp</title>

    <!--FontAwesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--CSS-->
    <link rel="stylesheet" href="style.css">
    <!--JS-->
    <script defer src="script.js"></script>
</head>

<body>
    <!--Vue-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">

        <!--Container che racchiude tutto il blocco-->
        <div class="container">

            <!--Contenitore principale dei contatti e messaggi-->
            <div class="main flex">

                <!--Contatti-->
                <div class="contact">

                    <!--Header dei contatti-->
                    <header class="headerContact flex">
                        <div class="leftBarContact flex">
                            <img src="img/avatar_io.png" alt="Io">
                            <div class="myName">Sofia</div>
                        </div>
                        <div class="rightBarContact flex">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </header>

                    <!--Corpo principale dei contatti-->
                    <main class="mainContact">

                        <!--Attiva notiche lightblue-->
                        <div class="notification flex">
                            <i class="fa-regular fa-bell-slash"></i>
                            <div class="details">
                                <div class="getNotification">Ricevi notiche di nuovi messaggi</div>
                                <a href="#" class="activeNotification">Attiva notifiche desktop</a>
                            </div>
                        </div>

                        <!--Input cerca o inizia nuova chat-->
                        <div class="contactInput">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="search">
                        </div>

                        <!--Chat-->
                        <ul class="chat">
                            <li v-for="(contact, index) in filteredContacts" class="flex" @click="changeContact(index)">
                                <div class="leftChat flex">
                                    <img :src="contact.avatar" alt="Immagine del profilo">
                                    <div class="details">
                                        <div class="hisname"> {{ contact.name }} </div>
                                        <div class="access">Ultimo messaggio inviato</div>
                                    </div>
                                </div>
                                <div class="righChat">
                                    <div class="time">12:00</div>
                                </div>
                            </li>
                        </ul>
                    </main>
                </div>

                <!--Messaggi-->
                <div class="messages">

                    <!--Header dei messaggi-->
                    <header class="headerMessages flex">
                        <div class="leftBarMessages flex">
                            <img :src="contacts[activeIndex].avatar" alt="Michele">
                            <div class="details">
                                <div class="hisname"> {{ contacts[activeIndex].name }} </div>
                                <div class="access">Ultimo accesso oggi alle 12:00</div>
                            </div>
                        </div>
                        <div class="rightBarMessages flex">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>

                    </header>

                    <!--Corpo principale dei messaggi-->
                    <div class="mainMessages">

                        <div v-for="(message, index) in contacts[activeIndex].messages" class="containerMessages flex">
                            <div :class="message.status">
                                <div class="text"> {{ message.message }} </div>
                                <div class="time"> {{ message.date }} </div>
                            </div>
                        </div>
                    </div>

                    <!--Footer dei messaggi-->
                    <footer class="footerMessages flex">
                        <div class="emoji">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage"
                            @keyup.enter="addNewMessage">
                        <div class="audio">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    <!--Luxon-->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.5.0/build/global/luxon.min.js"></script>
</body>

</html>